<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/me.jpeg" class="portrait">
        <p>This site uses data form mapbox and weatherstack to show weather on searched location</p>
    </div> 
    {{>footer}}
</body>

</html> 